{% extends 'template.html' %}
		{% block TITLE %}Mi primera pagina con estilo{% endblock %}


		{% block HEADER %}

	<div id="contenido">
		<div id='csshor'>
		<ul>
			
			
			
			
		</ul>
		</div>
	</div>	
{% endblock %}

		{% block MENU %}
		<ul>
		<li class='has-sub '><a href='vermaterial'><span>Materiales</span></a>
			<ul>
				<li><a href='ingresamaterial'><span>Ingresar Material</span></a></li>
				<li><a href='vermaterial'><span>Buscar Material</span></a></li>	
			</ul>
		</li>
		<li class='has-sub '><a href='regiproveedor'><span>Proveedor</span></a>
			<ul>
				<li><a href='regiproveedor'><span>Nuevo Proveedor</span></a></li>
				<li><a href='buscarprov'><span>Registro Proveedores</span></a></li>	
			</ul>
		</li>
		<li class='has-sub '><a href='construccion'><span>Pedidos</span></a>
			<ul>
				<li><a href='construccion'><span>Ingresar Pedido</span></a></li>
				<li><a href='construccion'><span>Historial de Pedidos</span></a></li>	
			</ul>
		</li>
	</ul>
		{% endblock %}
		{% block CONTENT %}
<h2 style = "margin-top: 20px"> Listado de Materiales</h2>	
			<form method="post" action="{% url vermaterial %}">
				{% csrf_token %}
				<div id="material">						
					<input style = "top: 50px" type="text" size="12" maxlength="35" id="caja-material" placeholder= "Codigo Material" name="codigo">
					</input>

				<button type="submit" id="botonBuscar">Buscar</button>
				</div>	
				
			<form>		
			<br><br><br>		
			<div id="tabla">
				<table class="table"size="15">
					
					<tr>
						<th scope="col" width=100>Codigo</th>
						<th scope="col" width=100>Tipo</th>
						<th scope="col" width=150>Detalle</th>
						<th scope="col" width=150>Proveedor</th>
						<th scope="col" width=150>Precio</th>
						<th scope="col" width=150>Oferta</th>
						<th scope="col" width=150>Stock</th>
					</tr>	
					{% for material in materiales %}
					<tr>
						<th scope="col" width=100>{{material.codigoMaterial}}</th>
						<th scope="col" width=100>{{material.tipoID}}</th>
						<th scope="col" width=150>{{material.nombreMaterial}}</th>
						<th scope="col" width=150>{{material.proveedorID}}</th>
						<th scope="col" width=150>{{material.precioMaterial}}</th>
						{% if material.ofertaMaterial %}
						<th scope="col" width=150>Si</th>
						{% else %}
						<th scope="col" width=150>No</th>
						{% endif %}
						<th scope="col" width=150>{{material.stockMaterial}}</th>
					</tr>					
    				{% endfor %}				
					
				</table>
			
			</div>
			{% endblock %}