{% extends 'template.html' %}
		{% block TITLE %}Mi primera pagina con estilo{% endblock %}


		{% block HEADER %}

	<div id="contenido">
		<div id='csshor'>
		<ul>
			
			
			
			
		</ul>
		</div>
	</div>	
{% endblock %}

		{% block MENU %}
		<ul>
			<li class='has-sub '><a href='informes'><span>Informes</span></a>
				<ul>
					<li><a href='construccion'><span>Ventas</span></a></li>
					<li><a href='construccion'><span>Stock</span></a></li>	
				</ul>
			</li>
			<li class='has-sub '><a href='{% url verclientes %}'><span>Clientes</span></a>
			</li>
			<li class='has-sub '><a href='{% url vehiculo_list %}'><span>Vehículos</span></a>
			</li>
			<li class='has-sub '><a href='{% url ingresausuario %}'><span>Usuarios</span></a>
				<ul>
					<li><a href='{% url ingresausuario %}'><span>Crear</span></a></li>
					<li><a href='{% url modificausuario %}'><span>Modificar</span></a></li>	
					<li><a href='eliminausuario'><span>Eliminar</span></a></li>	
				</ul>
			</li>
		</ul>
		{% endblock %}
		{% block CONTENT %}
<h2 style = "margin-top: 20px"> Listado de Vehiculos</h2>	
			<form method="post" action="{% url vehiculo_list %}">
				{% csrf_token %}
				<div id="material">						
					<input style = "top: 50px" type="text" size="12" maxlength="35" id="caja-material" placeholder= "Patente" name="patente">
					</input>

				<button type="submit" id="botonBuscar">Buscar</button>
				</div>	
				
			<form>		
			<br><br><br>		
			<div id="tabla">
				<table class="table"size="15">
					
					<tr>
						<th scope="col" width=100>Patente</th>
						<th scope="col" width=150>Marca</th>
						<th scope="col" width=150>Modelo</th>
						<th scope="col" width=150>Color</th>
						<th scope="col" width=150>Año</th>
						<th scope="col" width=150>Rut Dueño</th>
					</tr>	
					{% for vehiculo in vehiculos %}
					<tr>
						<th scope="col" width=100>{{vehiculo.patenteVehiculo}}</th>
						<th scope="col" width=150>{{vehiculo.modeloID.marcaID}}</th>
						<th scope="col" width=150>{{vehiculo.modeloID}}</th>
						<th scope="col" width=150>{{vehiculo.colorVehiculo}}</th>
						<th scope="col" width=150>{{vehiculo.anioVehiculo}}</th>
						<th scope="col" width=150>{{vehiculo.clienteRut}}</th>
					</tr>					
    				{% endfor %}				
					
				</table>
			
			</div>
			{% endblock %}