    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
  <title>Plataforma Gest</title>
  <link rel="stylesheet" href="static/log-in.css">
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <script src="static/js/bootstrap.js"></script>

</head>
  <body>
     
    <div id ="imagen1">
      <img src="static/bri.jpg"> 
    </div>

   <div id ="imagen2">
        <img  src="static/gest.jpg"> 
    </div>
<a href="{% url login %}" style= "background-color: black" id="Boton">Volver al inicio</a>

  </body>
</html>